body{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 1rem;
}

.card{
    width: 27vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
}
.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-img{
    width: 80%;
    height: 60%;
}
card-desc{
    font-size: 90%;
}